# install Kripodb itself
-e .
# requirements for development of kripodb
nose
coverage
setuptools>=18.8.1
six>=1.7
mock
webtest
requests_mock
# Document generation
sphinx
sphinx_rtd_theme
# for faster pydev debugging
cython
