# install Kripodb itself
-e .
# requirements for development of kripodb
pytest==3.0.7
pytest-cov
setuptools>=18.8.1
six>=1.7
mock
webtest
requests_mock
# Document generation
sphinx
sphinx_rtd_theme
sphinx-argparse
# for faster pydev debugging
cython
